@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn With <a href="https://jascloudtech.com">Jascloudtech</a>.</p>
</div>
